{% extends 'chat/main.html' %}
{%load static%}

{% block content %}

    <main>

        <section id="form-container">

            <div id="welcome-message">
                <img src="{% static 'chat/images/logo.png' %}" id="logo" onclick="redirectHome()">
                <h1>Bienvenue sur Libellule</h1>
                <p>La plateforme de discussion faite juste pour vous !</p>
            </div>

            <form id="form">
                <div class="field-wrapper">

                    <div class="form-field">
                        <label>Salon:</label>
                        <input id="room_name" name="room_name" placeholder="Entrer un nom de salon..."  style="text-transform:uppercase"/>
                    </div>

                    <div class="form-field">
                        <label>Nom:</label>
                        <input id="user_name" name="user_name" placeholder="Entrer un pseudo..."  style="text-transform:uppercase"/>
                    </div>

                    <div class="form-field">
                        <input type="submit" action="" value="Rejoindre" />
                    </div>
                </div>
            </form>
        </section>
    </main>

    <script>
        /*
        document.querySelector('#room_name').focus();
        document.querySelector('#room_name').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        function isEmptyOrSpaces(str){
            return str === null || str.match(/^ *$/) !== null;
        }

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room_name').value;
            var userName = document.querySelector('#user_name').value;
            if (isEmptyOrSpaces(roomName) || isEmptyOrSpaces(userName)){
                errorMessage();
            }
            else {
                handleSubmit(roomName,userName)
                window.location.pathname = '/chat/' + roomName + '/'
            };
        };
*/


        let handleSubmit = async (e) => {

            e.preventDefault()
            let room = e.target.room_name.value.toUpperCase()
            let name = e.target.user_name.value
    
            let response = await fetch(`/get_token/?channel=${room}`)
            let data = await response.json()
    
            let uid = data.uid
            let token = data.token
    
            sessionStorage.setItem('UID', uid)
            sessionStorage.setItem('token', token)
            sessionStorage.setItem('room', room)
            sessionStorage.setItem('name', name)
    
            window.open('/room/', '_self')
        }


        function redirectHome() {
            window.location.pathname = '';
        }

        form.addEventListener('submit', handleSubmit)

    </script>

{% endblock content %}
